<!DOCTYPE html>
<html>

<meta charset="UTF-8">
<meta name="description" content="Advanced calculator for SC">
<meta name="keywords" content="calculator, ledger, pay">
<meta name="author" content="CJ">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="./bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="./popper.min.js"></script>
<script src="./bootstrap.min.js"></script>
<!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script-->
<!-- development version, includes helpful console warnings -->
<script src="./vuejs.js"></script>
<link rel="stylesheet" href="./bootstrap-icons.css">

<!--script src="./script.js"></script-->
<!--script src="./appml.js"></script-->


<body>
  <div class="container-fluid">
    <h1>Group</h1>
  </div>
  <div class="container-fluid" id="table">
    <div>
      <!--p>System clock time, user time-based Star Citizen advanced calculator. Uses your system clock, rather than JS
        tick for user timing.</p-->
    </div>
    <div class="row">
      <div class="col-4">
        Quick transfer:
        <br>
        Starting amount: <input v-model="quick.amount" v-on:input="quickTransfer()" type="number">
        <br>
        Amount of Players<input v-model="quick.divider" v-on:input="quickTransfer()" type="number">
        <br>
        <span>Send: | {{ quick.result }} | per person</span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4"> <button onclick="controlAll(1)">Start All</button>
        <button onclick="controlAll(0)">Stop All</button>
        <button onclick="controlAll(2)">Reset</button>
        Input Money Sample:<input v-model="session.amount" type="number" placeholder="100000" value="100000">
      </div>
      <div class="col-4"></div>
      <div class="col-4">
        Data size: {{ session.size }}
      </div>
    </div>
    <table class="table table-dark table-striped table-hover">
      <thead>
        <tr>
          <th style="width: 20px;" scope="col">x</th>
          <th style="width: 20px;" scope="col">Play/Pause</th>
          <th>Name</th>
          <th>Time</th>
          <th>Dividend</th>
          <th>Money</th>
          <th>Fees</th>
          <th>Deduction</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(player, index) in session.players">
          <td class="text-center"><i class="bi bi-archive" v-on:click="removeUser(index)" style="cursor: pointer;"></i>
          </td>
          <td class="text-center"><i v-on:click="stateControl(player.active, index)"
              v-bind:class="classControl(player.active)" style="cursor: pointer;"></i></td>
          <td>{{ player.name }}</td>
          <td>{{ player.timer }}</td>
          <td id="{{ player.id }}"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="text-center"><i v-on:click="addUser" class="bi bi-plus" style="cursor:pointer;"></i></td>
          <td class="text-center"></td>
          <td><input v-on:keyup.enter="addUser" id="addPlayer" v-model="player.name" type="text" placeholder="John_Doe"
              autofocus></td>
          <td><!--input v-model="player.time" type="number" placeholder="0" disabled--></td>
          <td><!--input v-model="player.money" type="number" placeholder="0" disabled--></td>
          <td><!--input v-model="player.fees" type="number" placeholder="0" disabled--></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{ session.amount }}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <i class="bi bi-pause"></i>

  </div>

  <!--##############################################################################################################-->
  <script src="./data.js"></script>
  <script src="./vue.js"></script>
  <script src="./compute.js"></script>
</body>

</html>